__pycache__/

Assignment_1/Part_3/Data/fashion-mnist_train.csv
Assignment_1/Part_3/Data/fashion-mnist_test.csv

Assignment_2/Part_1/Data/fashion-mnist_train.csv
Assignment_2/Part_1/Data/fashion-mnist_test.csv

Assignment_4/Data
Assignment_4/Preprocessed_Data/*.pickle

global_lstm/
local_lstm/
classic_lstm/
t5-small-finetuned-de-to-en
t5-small-finetuned-en-to-de

venv
Assignment_3/Task_2/t.ipynb
Assignment_3/Task_2/temp.py

.ipynb_checkpoints/
wandb/
Assignment_4/Preprocessed_Data/resnet_embedding_train_images.pkl
.gitignore
Assignment_4/Preprocessed_Data/resnet_embedding_dev_seen_images.pkl
Assignment_4/Preprocessed_Data/resnet_embedding_test_seen_images.pkl
